doctype html
html
	head
		title Hours report - #{project.name}
		link(rel='stylesheet', href='/stylesheets/work_entries.css')
	body
		.wrapper
			header
				h1 Hours report
				.project-info
					h2 #{project.name}

			main

				section#hours-status
					ul
						li
							.title Total executed
							.value= utils.formatSecondsIntoTime(project.executed_hours_total * 3600)
						li
							.title Total purchased
							.value= utils.formatSecondsIntoTime(project.paid_hours_total * 3600)
						li
							.title Remainign
							.value= utils.formatSecondsIntoTime((project.paid_hours_total - project.executed_hours_total) * 3600)
						
				table
					thead
						tr
							td Date
							td Task
							td Time
					tbody
						- var time = 0
						for we in entries
							tr
								td= moment(we.created_ts).format('MM/DD')
								td= we.objective.related_task.title
								td  #{utils.formatSecondsIntoTime(we.time)}
								- time += we.time
					tfoot
						tr
							td(colspan='2') Total hours
							td #{utils.formatSecondsIntoTime(time)}
