doctype html
html
	head
		title Work entries
		link(rel='stylesheet', href='/stylesheets/work_entries.css')
	body
		.wrapper
			header
				h1 Hours report
				.project-info
					h2 Project: #{project.name}
					
			main

				table
					thead
						tr
							td Date
							td User
							td Task
							td Time
					tbody
						- var time = 0
						for we in entries
							tr
								td= moment(we.created_ts).format('MM/DD')
								td= we.user.full_name
								td= we.objective.related_task.title
								td  #{utils.formatSecondsIntoTime(we.time)}
								- time += we.time
					tfoot
						tr
							td(colspan='3') Total hours
							td #{utils.formatSecondsIntoTime(time)}
